@import 'bootstrap-reboot.min';
@import "variables";

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}


.container {
    width: 1180px;
    margin: 0 auto;
}

@import "modal";
@import "footer";
@import "reviews";
@import "cost";
@import "services";
@import "header";
@import "promo";
@import "about";
@import "button";
/* @import "general"; */
@import "media";  














